<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TeamProvement</title>
    {% stylesheet 'main' %}
  </head>
  <body>
    <header>
      <div class="navbar navbar-dark navbar-expand-md bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand d-flex align-items-center">
            <i class="fa fa-rocket"></i>&nbsp;<strong>TeamProvement</strong>
          </a>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url('team') }}">Our Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url('teamgoal_list') }}">Our Goals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url('meeting_list') }}">Our Meetings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url('logout') }}">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <main role="main">
      <div class="container">
          <h1>{% block title %}{% endblock %}</h1>
          {% if messages %}
            {% for message in messages %}
              <div class="alert {% if message.tags %}{% if message.tags=='error'%}alert-danger{% else %}alert-{{ message.tags }}{% endif %}{% endif %}">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
      </div>
    </main>

    <footer class="text-muted mt-4">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>A simple POC for managing our Meetings/Retrospective actions and subjects</p>
      </div>
    </footer>
    {% javascript 'main' %}
  </body>
</html>
