<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Teamprovement POC</title>
    {% stylesheet 'main' %}
  </head>
  <body>
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4"></div>
            <div class="col-sm-4 offset-md-1 py-4 text-right">
              <ul class="list-unstyled">
                <li><a href="{{ url('logout') }}" class="text-white">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand d-flex align-items-center">
            <strong>Teamprovement</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>
        </div>
      </div>
      
    </header>

    <main role="main">
      <div class="container">
          <h1>{% block title %}{% endblock %}</h1>
          {% block content %}{% endblock %}
      </div>
    </main>

    <footer class="text-muted mt-4">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>A simple POC for managing our Meetings/Retrospective actions and subjects</p>
      </div>
    </footer>
    {% javascript 'main' %}
  </body>
</html>
