{% extends "base.jinja2" %}

{% block title %}Our Team{% endblock %}

{% block content %}
  <div>
    <p>
      <em>Placeholder for the team dashboard (completed tasks, completed goals, ongoing tasks, number of past meetings, quick links to opened meetings, etc.</em>
    </p>
  </div>
{% endblock %}
