{% extends "base.jinja2" %}

{% block title %}Meeting: {{ meeting.name }}{% endblock %}

{% block content %}
  {% if meeting.is_participant(user) %}
    <a href="{{ url("topic_create", meeting_id=meeting.id) }}" class="btn btn-primary">New Topic</a>
  {% else %}
    <em>Only participants can create topics for this meeting</em>  
  {% endif %}
  <a href="{{ url('meeting_list') }}" class="float-right">&leftarrow;&nbsp;Back to meetings list</a>

    {% for topic in meeting.topics.all() %}
      <div class="card mt-4 border-{{ topic.mood | mood_class }}">
        <div class="card-header text-white bg-{{ topic.mood | mood_class }}">
            {{ topic.mood | mood_emoji }}
          <em class="float-right">{{ topic.creator }}</em>
        </div>
        <div class="card-body">
          <p class="card-text">
            <span>Fact:&nbsp;</span>
            <span class="text-{{ topic.mood | mood_class }}">{{ topic.fact }}</span>
          </p>
          <hr>
          <p class="card-text">
            <span>Feeling:&nbsp;</span>
            <span>{{ topic.feeling }}</span>
          </p>
          {% if topic.action %}
            <div class="card {% if topic.action.was_sucessful %}border-success{% endif %} mb-3">
              <div class="card-header">
                <a href="{{ url('action_update', meeting.id, topic.action.id) }}" class="text-info float-right">
                  <i class="fa fa-pencil-alt"></i>
                </a>
                {% if topic.action.was_successful %}
                  <span class="badge badge-success">Success</span>
                {% endif %}
                Action {% if topic.action.owner %} owned by <strong>{{topic.action.owner}}</strong>{% endif %}
              </div>
              <div class="card-body text-success">
                <h5 class="card-title">
                  {{ topic.action.goal }}
                </h5>
                <p class="card-text">
                  {{ topic.action.description }}
                </p>
              </div>
            </div>
          {% endif %}
        </div>
        <div class="card-body">
          {% if topic.comment_set.first() %}
            <hr>
            <h5 class="card-title">Comments</h5>
          {% endif %}
          {% for comment in topic.comment_set.all() %}
            <div class="card-text">
              {{ comment.author }}: {{ comment.body }}
                {% if comment.is_author(user) %}
                  <a href="{{ url('comment_update', meeting.id, topic.id, comment.id) }}" class="btn btn-sm btn-light">
                    <i class="fa fa-pencil-alt"></i>
                  </a>
                  <a href="{{ url('comment_delete', meeting.id, topic.id, comment.id) }}" class="btn btn-sm btn-light">
                    <i class="far fa-trash-alt"></i>
                  </a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        <div class="card-footer">
          <div class="btn-group float-right" role="group" aria-label="Basic example">
            <p>
              {% if topic.created_by(user) %}
                <a href="{{ url('topic_update', meeting.id, topic.id) }}" class="btn btn-sm btn-info">
                  <i class="fa fa-pencil-alt"></i>&nbsp;Edit topic
                </a>
              {% endif %}
              {% if not topic.action %}
                <a href="{{ url('action_create', meeting.id, topic.id) }}" class="btn btn-sm btn-success">
                  <i class="fa fa-lightbulb"></i>&nbsp;Add Action
                </a>
                <a href="{{ url('comment_create', meeting.id, topic.id) }}" class="btn btn-sm btn-success">
                  <i class="fa fa-lightbulb"></i>&nbsp;Add comment
                </a>
              {% endif %}
            </p>           
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock %}
