{% extends "base.jinja2" %}

{% block title %}Meeting: {{ meeting.name }}{% endblock %}

{% block content %}
    <a href="{{ url("topic_create", meeting_id=meeting.id) }}" class="btn btn-primary">New Topic</a>
    <a href="{{ url('meeting_list') }}" class="float-right"> &leftarrow;&nbsp;Back to list</a>
{% endblock %}
